@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

* {
  padding: 5px;
  font-family: "Inter", sans-serif;
}

.login_main {
  padding: 20px;
}

.heading_banner {
  text-align: center;
}
.logo {
  height: 100px;
  width: 340px;
}

.text_heading_banner {
  font-family: "Inter", "sans-serif";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.emailAddress_label,
.password_label {
  font-weight: bold;
}

.login_forms {
  padding-left: 20px;
}

.email_emailAddress_label,
.passwordAddress_label {
  width: 20em;
  height: 40px;
  border: black solid 5px;
  border-radius: 10px;
}

.email_emailAddress_label::placeholder {
  font-size: 15px;
  padding-left: 10px;
}

.item_buttons {
  text-align: center;
}

.login_actual_button,
.login_actual_button:hover {
  border: 5px solid black;
  border-radius: 10px;
  background-color: transparent;
  font-family: "Inter", "sans-serif";
  width: 90px;
  height: 50px;
  cursor: pointer;
}

.signup_actual_button,
.signup_actual_button:hover {
  width: 110px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: transparent;
  font-family: "Inter", "sans-serif";
  height: 40px;
  cursor: pointer;
}

Link {
  text-decoration: none;
  color: black;
}

.dynamicIsland {
  width: 150px;
  height: 50px;
  background-color: black;
  border-radius: 40px;
}

.profileIcon {
  position: fixed;
  right: 45%;
  background-color: aquamarine;
  border-radius: 100%;
  border: 5px solid black;
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 856px) {
  .DynamicItem {
    display: none;
  }
}

@media only screen and (max-width: 1292px) {
  .profileIcon {
    position: fixed;
    right: 44%;
  }
}

@media only screen and (max-width: 1100px) {
  .profileIccon {
    position: fixed;
    right: 40%;
  }
}

@media only screen and (max-width: 1030px) {
  .profileIcon {
    position: fixed;
    right: 43%;
  }
}

@media only screen and (max-width: 900px) {
  .profileIcon {
    position: fixed;
    right: 42%;
  }
}

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px black;
}

.search > div {
  display: inline-block;
  position: relative;
}

.search > div:hover, .search > div > input:hover{
  cursor: pointer;
}

.search > div > input:focus{
  cursor: text;
}

.search > div:after {
  content: "";
  background: black;
  width: 3px;
  height: 25px;
  position: absolute;
  top: 38px;
  right: 2px;
  transform: rotate(135deg);
}



.search > div > input {
  color: black;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 7px black;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: black;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 500px;
}
